@charset "UTF-8";

@use "foundation/_mixins";
@use "foundation/_variables";
@use "foundation/_reset.scss"; 
@use "foundation/_base.scss";

@use "layout/_header.scss";
@use "layout/_footer.scss";

/* @use "object/component/_bamburger"; */

/* @use "object/project/body-filter"; */

/* @use "object/utility/spacing"; */

