@use  "../../foundation/mixins" as min;
@use  "../../foundation/variables" as var;
//ハンバーガーメニュー
.c-hamburgerBlock-sp {
    display: block;
    width: 26px;
    height: 26px;

    @include min.breakpoint(pc) {
        display: none;
    }

    .hamburger {
        display: block;
        position: relative;
        padding: 3px;
        width: 100%;
        height: 100%;
        cursor: pointer;
        text-align: center;
    
        @include min.breakpoint(tablet) {
            display: none;
        }
    
        span {
            display: block;
            height: 2px;
            background: var.$white;
            position: absolute;
            top: 50%;
            left: 3px;
            right: 3px;
            transform: translateY(-50%);
            transition: all ease .15s;
    
            &::before {
                content: '';
                display: block;
                height: 2px;
                background: var.$white;
                position: absolute;
                top: -8px;
                left: 0;
                right: 0;
                transition: all ease .15s;
            }
            &::after {
                content: '';
                display: block;
                height: 2px;
                background: var.$white;
                position: absolute;
                top: 8px;
                left: 0;
                right: 0;
                transition: all ease .15s;
            }
        }
    }
    //ハンバーガーメニュー
    #navToggle {
        position: absolute;
        top: -330px;
    }
    .spMainNav {
        display: none;
        transition: all 1s;
    }
    .spMainNav__list {
        align-items: center;
        position: relative;
        background-color: var.$bg-white;
        opacity: 1;
        padding: 100px 0;
        
        & > li {
            display: block;
            height: 100%;
            text-align: center;
            align-self: center;

            &:hover {

                a {
                    color: #000;
                } 
            }
            
            a {
                display: inline-block;
                width: 100%;
                height: 100%;
                cursor: pointer;
                font-weight: bold;
                color: var.$white;
                font-size: 20px;

                span {
                    display: block;
                    font-size: 14px;
                }
            }
        }
    }

    //ハンバーガーメニューの挙動
    #navToggle:focus-visible ~ .hamburger {
        box-shadow: 1px 1px 2px gray;
    }

    #navToggle:checked ~ .hamburger {

        span {
            background: transparent;

            &::before {
                top: 50%;
                transform: rotate(45deg);
            }
            &::after {
                top: 50%;
                transform: rotate(-45deg);
            }
        }
    }

    #navToggle:checked ~ .spMainNav {

        display: block;
        transition: all 1s;
        

        .spMainNav__list {
            position: absolute;
            background: #4b6cb7;
            top: 56px;
            left: 0;
            right: 0;

            li {
                text-align: center;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
        
        .spMainNav__item {
            border-bottom: 1px solid #eee;
        }
    }
}