@use "../../foundation/mixins" as min;
@use "../../foundation/variables" as var;

.p-step {

    margin-top: 1rem;

    .stepContainer {

        padding-top: 2.1rem;
        padding-bottom: 4.1rem;

        @include min.breakpoint(pc) {

            padding-top: 9.3rem;
            padding-bottom: 10rem;
        }

        h2 {

            font-size: 2.6rem;
            font-weight: 900;
            line-height: calc(39 / 26);
            text-align: center;
            margin-bottom: 2.8rem;

            @include min.breakpoint(pc) {

                font-size: 4rem;
                line-height: calc(28 / 40);
                margin-bottom: 5.5rem;
            }
        }

        & > p {

            font-size: 1.5rem;
            font-weight: 500;
            line-height: calc(25 / 15);

            @include min.breakpoint(pc) {

                font-size: 1.8rem;
                line-height: calc(27 / 18);
                text-align: center;
            }
        }

        .stepList {

            margin-top: 3.1rem;
            margin-bottom: 2.4rem;

            @include min.breakpoint(pc) {

                width: 100%;
                max-width: 76.3rem;
                margin: 7.8rem auto 6rem;
            }

            li {

                position: relative;
                display: flex;
                height: 100%;
                max-height: 20rem;
                align-items: center;
                margin-bottom: 5.7rem;
                border: 1px solid var.$bg-blue;
                font-size: 1.5rem;
                font-weight: 700;
                line-height: calc(22 / 15);
                background: linear-gradient(102deg, var.$bg-blue 32.6%, transparent 32.6%);
                visibility: hidden;

                @include min.breakpoint(pc) {

                    font-size: 1.6rem;
                    line-height: calc(23 / 16);
                    background: linear-gradient(113.4deg, var.$bg-blue 24.2%, transparent 24.2%);
                    margin-bottom: 6rem;
                }
                
                .stepNum {

                    display: block;
                    width: 10rem;
                    max-height: 50rem;
                    font-size: 1.6rem;
                    font-weight: 900;
                    line-height: calc(24 / 16);
                    color: var.$text-white;
                    text-align: center;
                    
                    @include min.breakpoint(pc) {

                        width: 19.2rem;
                        font-size: 2rem;
                        line-height: 1;
                        text-align-last: left;
                        padding-left: 5rem;
                    }
                }

                & > p {

                    max-width: 22rem;
                    padding: 1.9rem 1rem 1.9rem 2.5rem;

                    @include min.breakpoint(pc) {

                        max-width: 54.3rem;
                        padding: 2rem 3rem 2.5rem 5.9rem;
                    }
                }

                &:nth-child(2) {

                    margin-bottom: 6.2rem;

                    @include min.breakpoint(pc) {

                        margin-bottom: 6.1rem;
                    }
                }

                &::after {

                    position: absolute;
                    display: block;
                    height: 2.4rem;
                    content: "\f063";
                    font: var(--fa-font-solid);
                    font-size: 3.6rem;
                    font-weight: 900;
                    color: var.$text-bule;
                    bottom: -4.6rem;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    @include min.breakpoint(pc) {

                        bottom: -4.8rem
                    }
                }

                &:last-of-type {

                    margin-bottom: unset;
                    background: linear-gradient(97deg, var.$bg-blue 32.6%, transparent 32.6%);

                    @include min.breakpoint(pc) {

                        background: linear-gradient(113.4deg, var.$bg-blue 24.2%, transparent 24.2%);
                    }

                    &::after {

                        content: unset;
                    }

                    & > p {

                        padding-bottom: 1.7rem;

                        @include min.breakpoint(pc) {

                            padding-bottom: 2.4rem;
                        }
                    }
                }
            }
        }

        .suportContents {

            h3 {

                font-size: 1.7rem;
                font-weight: 900;
                line-height: calc(25 / 17);
                text-align: center;
                margin-bottom: 3.2rem;

                @include min.breakpoint(pc) {

                    font-size: 2.3rem;
                    line-height: calc(35 / 23);
                    margin-bottom: 4.8rem;
                }
            }

            .suportList {

                @include min.breakpoint(pc) {

                    max-width: 107.5rem;
                    display: flex;
                    justify-content: space-between;
                    gap: 2rem;
                }

                & > li {

                    display: block;
                    background: var.$bg-litebule;
                    border-radius: 1rem;
                    margin-bottom: 2rem;
                    padding: 3.4rem 2.4rem 3.8rem;

                    @include min.breakpoint(pc) {

                        width: 100%;
                        max-width: 34.5rem;
                        padding: 4rem 3.4rem 5.8rem 3.2rem;
                        margin-bottom: unset;
                    }

                    &.row2 {

                        padding-top: 3rem;
                        margin-bottom: 1.9rem;
                        
                        @include min.breakpoint(pc) {

                            padding: 3.6rem 3.4rem 4rem 3.2rem;
                            margin-bottom: unset;
                        }
                    }

                    &:last-of-type {

                        margin-bottom: unset;
                    }

                    h4 {

                        font-size: 1.7rem;
                        line-height: calc(25 / 17);
                        font-weight: 700;
                        text-align: center;
                        margin-bottom: 2.3rem;

                        @include min.breakpoint(pc) {

                            font-size: 1.8rem;
                            line-height: 1;
                            margin-bottom: 2.6rem;
                        }

                        &::before {

                            color: var.$text-bule;
                            content: "\f058";
                            font: var(--fa-font-solid);
                            font-weight: 400;
                            font-size: 1.6rem;
                            margin-right: 0.4rem;
                        }

                        &.row2 {

                            text-indent: -1.4rem;
                            margin-left: 2.1rem;
                            margin-bottom: 2.5rem;
                            
                            @include min.breakpoint(pc) {

                                text-indent: -2rem;
                                line-height: 1.5;
                                margin-left: 2.2rem;
                                margin-bottom: 2.4rem;
                            }
                        }
                    }

                    & > ol {

                        margin-left: 1rem;

                        li {

                            font-size: 1.5rem;
                            font-weight: 500;
                            line-height: calc(22 / 15);
                            list-style: "・";
                            list-style-position: inside;
                            margin-bottom: 1.1rem;

                            @include min.breakpoint(pc) {

                                font-size: 1.6rem;
                                line-height: calc(23 / 16);
                                margin-bottom: 1rem;
                            }

                            &:last-of-type {

                                margin-bottom: unset;
                            }
                        }
                    }
                }
            }
        }
    }
}