@charset "UTF-8";
/* ブレークポイント */
/* A Modern CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
/* ul[class],
ol[class] {
  padding: 0;
} */
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
html {
  font-size: 2.6666666667vw;
  color: #000;
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  html {
    font-size: 1vw;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 62.5%;
  }
}

body {
  font-family: "Noto Sans JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  color: #000;
}
body * {
  box-sizing: border-box;
}

ul, ol {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.container {
  display: block;
  width: 89.8%;
  margin: 0 auto;
}
@media (min-width: 769px) {
  .container {
    width: 94.8%;
    max-width: 108rem;
  }
}

.sp-br {
  display: block;
}
@media (min-width: 769px) {
  .sp-br {
    display: none;
  }
}

.animeContainer {
  overflow: hidden;
  position: relative;
  opacity: 0;
  animation: fadeIn 3s ease;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
#anime {
  position: relative;
  animation: anime 3s ease;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes anime {
  100% {
    opacity: 1;
  }
}
header {
  height: 6rem;
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 200;
  top: 0;
}
@media (min-width: 769px) {
  header {
    height: 7.6rem;
  }
}
header .haderContainer {
  display: block;
  width: 89.8%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
@media (min-width: 769px) {
  header .haderContainer {
    width: 100%;
  }
}
header .haderContainer img {
  width: 10.5rem;
  height: 1.8rem;
  margin-left: 0.7rem;
}
@media (min-width: 769px) {
  header .haderContainer img {
    width: 21.1rem;
    height: 3.7rem;
    margin-left: 2.6%;
  }
}
header .haderContainer .headerNav {
  display: none;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
}
@media (min-width: 769px) {
  header .haderContainer .headerNav {
    display: flex;
    align-items: center;
  }
  header .haderContainer .headerNav ul {
    display: flex;
    gap: 4.7rem;
  }
  header .haderContainer .headerNav ul li {
    padding: 2rem 0;
    overflow: hidden;
  }
  header .haderContainer .headerNav ul li a {
    position: relative;
    overflow: hidden;
    transition: transform 0.2s ease;
  }
  header .haderContainer .headerNav ul li a::before {
    content: "";
    position: absolute;
    bottom: -0.2rem;
    left: -100%;
    width: 100%;
    height: 0.2rem;
    background: #000;
  }
  @keyframes border-line {
    100% {
      left: 0;
      opacity: 1;
    }
  }
  header .haderContainer .headerNav ul li a:hover::before {
    animation: border-line 0.5s ease;
    animation-fill-mode: forwards;
  }
}
header .haderContainer .headerNav .application {
  display: block;
  width: 26.4rem;
  height: 100%;
  background: #1989ff;
  color: #fff;
  text-align: center;
  padding: 2.6rem 8rem;
  margin-left: 5rem;
}
header .haderContainer .headerNav .application:hover {
  background: #fff;
  color: #1989ff;
}
header .haderContainer .hambugerIcon-sp {
  position: relative;
  width: 3.5rem;
  height: 3.2rem;
  border: none;
}
@media (min-width: 769px) {
  header .haderContainer .hambugerIcon-sp {
    display: none;
  }
}
header .haderContainer .hambugerIcon-sp span {
  position: absolute;
  display: block;
  width: 100%;
  height: 0.6rem;
  background: #000;
  left: 0;
}
header .haderContainer .hambugerIcon-sp span:first-of-type {
  top: 0;
}
header .haderContainer .hambugerIcon-sp span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}
header .haderContainer .hambugerIcon-sp span:last-of-type {
  bottom: 0.1rem;
}
header .humbugerMenu {
  position: relative;
  background: #fff;
  z-index: 1;
  display: none;
}
header .humbugerMenu.open {
  display: block;
}
header .humbugerMenu .headerNav-sp {
  padding: 0.6rem 2.6rem;
}
header .humbugerMenu .headerNav-sp li {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  padding-top: 0.4rem;
  padding-bottom: 0.3rem;
}

footer .footerContainer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
}
@media (min-width: 769px) {
  footer .footerContainer {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}
footer .footerContainer img {
  width: 11.7rem;
  height: 2.1rem;
  margin: 0 auto;
  margin-bottom: 2.2rem;
}
@media (min-width: 769px) {
  footer .footerContainer img {
    width: 22.7rem;
    height: 4rem;
    margin-bottom: 4.2rem;
  }
}
footer .footerContainer small {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1;
}
@media (min-width: 769px) {
  footer .footerContainer small {
    font-size: 1.4rem;
  }
}

.c-swiper {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 4rem;
}
.c-swiper .swiper-wrapper {
  width: 100%;
}
.c-swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  max-width: 26.2rem;
  max-height: 11.6rem;
  margin: 0 auto;
  border-radius: 1rem;
}
@media (min-width: 769px) {
  .c-swiper .swiper-wrapper .swiper-slide img {
    max-width: 36.1rem;
    max-height: 16rem;
  }
}
.c-swiper .page {
  position: relative;
  display: block;
  width: 100%;
  height: 10rem;
  bottom: 0;
}
.c-swiper .page .swiper-pagination {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: -0.08em;
}
.c-swiper .page .swiper-button-prev, .c-swiper .page .swiper-button-next {
  position: absolute;
  top: 45%;
  display: block;
  width: 6.1rem;
  height: 6.1rem;
  background-repeat: no-repeat;
  background-size: cover;
}
.c-swiper .page .swiper-button-prev {
  left: 11%;
  background-image: url("../../../images/arrow_btnL.png");
}
@media (min-width: 769px) {
  .c-swiper .page .swiper-button-prev {
    left: 35%;
  }
}
.c-swiper .page .swiper-button-next {
  right: 11%;
  background-image: url("../../../images/arrow_btnR.png");
}
@media (min-width: 769px) {
  .c-swiper .page .swiper-button-next {
    right: 35%;
  }
}

.c-workCard {
  display: block;
  width: 32rem;
  height: 33.5rem;
  background: #1989ff;
  border-radius: 1rem;
  color: #fff;
  text-align: center;
  visibility: hidden;
}
@media (min-width: 769px) {
  .c-workCard {
    width: 34.5rem;
    height: 45.1rem;
    padding: 0 2.8rem;
  }
}
.c-workCard img {
  display: block;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  margin: 4rem auto 2rem;
}
@media (min-width: 769px) {
  .c-workCard img {
    width: 16.8rem;
    height: 16.8rem;
    margin: 6rem auto 3.5rem;
  }
}
.c-workCard p {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5;
}
@media (min-width: 769px) {
  .c-workCard p {
    font-size: 1.6rem;
    line-height: 1.4375;
  }
}
.c-workCard h3 {
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.5;
  margin-top: 3.6rem;
}
@media (min-width: 769px) {
  .c-workCard h3 {
    font-size: 2.3rem;
    line-height: 1.2173913043;
    margin-top: 4.3rem;
  }
}

.c-reasonCard h3 {
  position: relative;
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 1.5;
  text-align: center;
  padding-top: 8rem;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  z-index: 10;
}
@media (min-width: 769px) {
  .c-reasonCard h3 {
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    text-align: left;
    padding-top: 9.4rem;
    margin-bottom: 2.7rem;
  }
}
.c-reasonCard h3 span {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  color: #b1d3ff;
  font-family: "Oleo Script";
  font-size: 6rem;
  font-weight: 400;
  line-height: 1.1666666667;
  z-index: -1;
}
@media (min-width: 769px) {
  .c-reasonCard h3 span {
    font-size: 12rem;
    line-height: 0.75;
    top: 19%;
    left: 0;
    transform: unset;
  }
}
.c-reasonCard > p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 1.1rem;
}
@media (min-width: 769px) {
  .c-reasonCard > p {
    font-size: 1.8rem;
    line-height: 1.5;
    margin-bottom: 4.8rem;
  }
}
.c-reasonCard > .accordion-title {
  position: relative;
  display: block;
  width: 100%;
  height: 6rem;
  background: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  border: 2px solid #000;
  padding: 1.8rem 0 2.5rem;
}
@media (min-width: 769px) {
  .c-reasonCard > .accordion-title {
    font-size: 1.8rem;
  }
}
.c-reasonCard > .accordion-title.open::after {
  content: "ー";
}
.c-reasonCard > .accordion-title::after {
  display: block;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  right: 1.8rem;
  content: "＋";
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
}
@media (min-width: 769px) {
  .c-reasonCard > .accordion-title::after {
    top: 48%;
    right: 2.1rem;
    font-size: 1.8rem;
    line-height: 1.5;
  }
}
.c-reasonCard .reasonAccodionContents {
  display: none;
  background: #fff;
  padding: 2rem 1.6rem 0.2rem;
  margin-bottom: 3.3rem;
}
@media (min-width: 769px) {
  .c-reasonCard .reasonAccodionContents {
    padding: 6.4rem 6.7rem 0;
    margin-bottom: 11.9rem;
    padding-bottom: 4.9rem;
  }
}
.c-reasonCard .reasonAccodionContents h4 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.4705882353;
}
@media (min-width: 769px) {
  .c-reasonCard .reasonAccodionContents h4 {
    font-size: 2.3rem;
    line-height: 1.2173913043;
  }
}
.c-reasonCard .reasonAccodionContents > p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
@media (min-width: 769px) {
  .c-reasonCard .reasonAccodionContents > p {
    font-size: 1.8rem;
    line-height: 1.5;
    margin-top: 2.3rem;
    margin-bottom: 6.2rem;
  }
}
.c-reasonCard .reasonAccodionContents .iconLists {
  display: flex;
  justify-content: center;
  gap: 1.7rem;
}
@media (min-width: 769px) {
  .c-reasonCard .reasonAccodionContents .iconLists {
    gap: 3.4rem;
  }
}
.c-reasonCard .reasonAccodionContents .iconLists .iconCard {
  width: 30%;
}
.c-reasonCard .reasonAccodionContents .iconLists .iconCard img {
  width: auto;
  height: 4rem;
  background-size: cover;
  margin: 0 auto;
}
@media (min-width: 769px) {
  .c-reasonCard .reasonAccodionContents .iconLists .iconCard img {
    height: 7rem;
  }
}
.c-reasonCard .reasonAccodionContents .iconLists .iconCard > p {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.5384615385;
  text-align: center;
  margin-top: 1.6rem;
}
@media (min-width: 769px) {
  .c-reasonCard .reasonAccodionContents .iconLists .iconCard > p {
    font-size: 1.5rem;
    line-height: 1.4;
    margin-top: 0.8rem;
  }
}
.c-reasonCard .reasonAccodionContents .reasonTexts {
  width: 27.5rem;
  margin: 2.2rem auto;
}
@media (min-width: 769px) {
  .c-reasonCard .reasonAccodionContents .reasonTexts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2.225%;
    margin: 5.4rem auto 0;
  }
}
.c-reasonCard .reasonAccodionContents .reasonTexts .reasonTextCard {
  position: relative;
  display: block;
  border: 1px solid #1989ff;
  margin-bottom: 1.5rem;
}
@media (min-width: 769px) {
  .c-reasonCard .reasonAccodionContents .reasonTexts .reasonTextCard {
    width: 31.85%;
    margin-bottom: 2rem;
    height: 27.5rem;
  }
}
.c-reasonCard .reasonAccodionContents .reasonTexts .reasonTextCard .num {
  position: absolute;
  display: block;
  width: 8.25rem;
  height: 8.25rem;
  background: linear-gradient(135deg, #1989ff 50%, transparent 50%);
  font-size: 3rem;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  padding: 0.8rem 1.5rem 0;
}
.c-reasonCard .reasonAccodionContents .reasonTexts .reasonTextCard .reasonContents h5 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.4705882353;
  padding-top: 2.9rem;
  text-align: center;
  padding-bottom: 2rem;
}
@media (min-width: 769px) {
  .c-reasonCard .reasonAccodionContents .reasonTexts .reasonTextCard .reasonContents h5 {
    font-size: 1.8rem;
    line-height: 1.5;
    padding-top: 3.6rem;
    padding-bottom: 3.1rem;
  }
}
.c-reasonCard .reasonAccodionContents .reasonTexts .reasonTextCard .reasonContents h5.pt2 {
  padding-bottom: 2.2rem;
}
@media (min-width: 769px) {
  .c-reasonCard .reasonAccodionContents .reasonTexts .reasonTextCard .reasonContents h5.pt2 {
    padding-bottom: 3.2rem;
  }
}
.c-reasonCard .reasonAccodionContents .reasonTexts .reasonTextCard .reasonContents h5.sp1 {
  padding-top: 2.8rem;
  padding-bottom: 2.2rem;
  letter-spacing: -0.03em;
}
@media (min-width: 769px) {
  .c-reasonCard .reasonAccodionContents .reasonTexts .reasonTextCard .reasonContents h5.sp1 {
    padding-top: 3.6rem;
    padding-bottom: 3.1rem;
  }
}
.c-reasonCard .reasonAccodionContents .reasonTexts .reasonTextCard .reasonContents > p {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  padding: 0 2.1rem 3.4rem 2.4rem;
}
@media (min-width: 769px) {
  .c-reasonCard .reasonAccodionContents .reasonTexts .reasonTextCard .reasonContents > p {
    font-size: 1.6rem;
    line-height: 1.4375;
    padding: 0 2.2rem 4rem 2.5rem;
  }
}
.c-reasonCard .reasonAccodionContents .reasonTexts .reasonTextCard .reasonContents > p.pt2 {
  padding-bottom: 3.3rem;
}
.c-reasonCard .reasonAccodionContents .reasonTexts .reasonTextCard .reasonContents > p.pt1 {
  padding-bottom: 3.2rem;
}
.c-reasonCard.Security h3 {
  margin-bottom: 1.2rem;
}
@media (min-width: 769px) {
  .c-reasonCard.Security h3 {
    margin-bottom: 2.5rem;
  }
}
.c-reasonCard.Security .reasonAccodionContents {
  margin-bottom: unset;
}
@media (min-width: 769px) {
  .c-reasonCard.Security .reasonAccodionContents > p {
    margin-bottom: 5.9rem;
  }
}
.c-reasonCard.Security .reasonAccodionContents .reasonTexts {
  margin-top: 2.1rem;
}
@media (min-width: 769px) {
  .c-reasonCard.Security .reasonAccodionContents .reasonTexts {
    margin-top: 5.2rem;
  }
}
@media (min-width: 769px) {
  .c-reasonCard.Security .reasonAccodionContents .reasonTexts .reasonTextCard .reasonContents h5 {
    padding-top: 3.8rem;
    padding-bottom: 3.3rem;
  }
}

.p-mainVisual {
  background: linear-gradient(13deg, #0384f5, #0068c0 67%, transparent 67%), url(../images/main_photo-sp.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  margin-top: 6rem;
}
@media (min-width: 641px) {
  .p-mainVisual {
    height: 50rem;
    background: unset;
    background-position: center right;
    background-repeat: no-repeat;
    background-image: url("../../../images/main_photo.jpg");
    background-size: cover;
    margin-top: 7.6rem;
  }
}
.p-mainVisual .mainVisualContainer {
  position: relative;
  padding-bottom: 4rem;
}
@media (min-width: 641px) {
  .p-mainVisual .mainVisualContainer {
    width: 90%;
    max-width: 120.4rem;
  }
}
@media (min-width: 641px) {
  .p-mainVisual .mainVisualContainer .mainCatch {
    padding-top: 9.8rem;
  }
}
.p-mainVisual .mainVisualContainer .mainCatch h1 {
  display: inline-block;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.5384615385;
  margin-top: 20rem;
  margin-bottom: 6.9rem;
}
@media (min-width: 641px) {
  .p-mainVisual .mainVisualContainer .mainCatch h1 {
    font-size: 4rem;
    line-height: 1;
    color: #fff;
    margin-top: unset;
    margin-bottom: 3.9rem;
    font-weight: 900;
  }
}
.p-mainVisual .mainVisualContainer .mainCatch h1 span {
  display: inline-block;
  background: #fff;
  padding-left: 0.5rem;
  padding-right: 0.1rem;
  padding-bottom: 0.1rem;
}
@media (min-width: 641px) {
  .p-mainVisual .mainVisualContainer .mainCatch h1 span {
    background: unset;
    padding-left: unset;
    padding-right: unset;
    padding-bottom: unset;
  }
}
.p-mainVisual .mainVisualContainer .mainCatch h1 span:last-of-type {
  margin-top: 0.5rem;
}
@media (min-width: 641px) {
  .p-mainVisual .mainVisualContainer .mainCatch h1 span:last-of-type {
    margin-top: unset;
  }
}
.p-mainVisual .mainVisualContainer .mainCatch p {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8;
}
@media (min-width: 641px) {
  .p-mainVisual .mainVisualContainer .mainCatch p {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.75;
  }
}
.p-mainVisual .mainVisualContainer .mainCatch ul {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8;
  margin-top: 2.8rem;
  margin-left: 2.2rem;
  margin-bottom: 3.3rem;
}
@media (min-width: 641px) {
  .p-mainVisual .mainVisualContainer .mainCatch ul {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.75;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
}
.p-mainVisual .mainVisualContainer .mainCatch ul li {
  position: relative;
}
.p-mainVisual .mainVisualContainer .mainCatch ul li::before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  content: "\f058";
  font: var(--fa-font-solid);
  color: #fff;
  font-weight: normal;
  left: -2.2rem;
  top: 1.4rem;
  transform: translateY(-50%);
}
.p-mainVisual .mainVisualContainer .mainCatch a {
  display: block;
  width: 30rem;
  height: 5.6rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1;
  color: #454545;
  background: #bdfa3e;
  border-radius: 0.5rem;
  padding: 2rem 0;
  margin: 0 auto;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.16);
}
@media (min-width: 641px) {
  .p-mainVisual .mainVisualContainer .mainCatch a {
    margin: unset;
  }
}
.p-mainVisual .mainVisualContainer .mainBg {
  position: absolute;
  display: flex;
  top: 25rem;
  right: 0.8rem;
}
@media (min-width: 641px) {
  .p-mainVisual .mainVisualContainer .mainBg {
    top: unset;
    bottom: 0;
    right: -3.9%;
  }
}
@media (min-width: 769px) {
  .p-mainVisual .mainVisualContainer .mainBg {
    bottom: -8%;
  }
}
.p-mainVisual .mainVisualContainer .mainBg p {
  display: block;
  width: 9.5rem;
  height: 9.5rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.4166666667;
  border-radius: 50%;
  background: linear-gradient(125deg, #effcad, #dcf98f 50%, #bdfa3e 100%);
  padding: 3rem 0;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.16);
}
@media (min-width: 641px) {
  .p-mainVisual .mainVisualContainer .mainBg p {
    width: 14rem;
    height: 14rem;
    font-size: 1.5rem;
    line-height: 1.6666666667;
    padding: 4.5rem 0;
  }
}
.p-mainVisual .mainVisualContainer .mainBg p:first-of-type {
  margin-right: 0.4rem;
}
@media (min-width: 641px) {
  .p-mainVisual .mainVisualContainer .mainBg p:first-of-type {
    margin-right: 1rem;
  }
}
.p-mainVisual .mainVisualContainer .mainBg p .po {
  font-family: "Poppins";
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.1333333333;
}
@media (min-width: 641px) {
  .p-mainVisual .mainVisualContainer .mainBg p .po {
    font-size: 2.2rem;
    line-height: 1.1363636364;
  }
}
.p-mainVisual .mainVisualContainer .mainBg p .ca {
  letter-spacing: -0.1em;
}
@media (min-width: 641px) {
  .p-mainVisual .mainVisualContainer .mainBg p .ca {
    letter-spacing: unset;
  }
}

.p-corpIntroduction {
  background: #d0e7ff;
}
.p-corpIntroduction .corpIntroductionContainer {
  padding-top: 4.2rem;
  padding-bottom: 3.9rem;
}
@media (min-width: 769px) {
  .p-corpIntroduction .corpIntroductionContainer {
    padding-top: 7.4rem;
    padding-bottom: 5.4rem;
    width: 90%;
    max-width: 120.4rem;
  }
}
.p-corpIntroduction .corpIntroductionContainer h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.6666666667;
  text-align: center;
}
@media (min-width: 769px) {
  .p-corpIntroduction .corpIntroductionContainer h2 {
    font-size: 2.5rem;
    line-height: 1.6;
  }
}
.p-corpIntroduction .corpIntroductionContainer h2 span {
  color: #1989ff;
  font-size: 2.6rem;
  line-height: 1.0384615385;
  vertical-align: text-bottom;
  letter-spacing: -0.01em;
  padding-left: 0.2rem;
  padding-right: 0.4rem;
}
@media (min-width: 769px) {
  .p-corpIntroduction .corpIntroductionContainer h2 span {
    font-size: 4rem;
    line-height: 1;
    letter-spacing: unset;
  }
}

.p-work .workContainer {
  padding-top: 3rem;
  padding-bottom: 4.9rem;
}
@media (min-width: 769px) {
  .p-work .workContainer {
    padding-top: 10.4rem;
    padding-bottom: 9.8rem;
  }
}
.p-work .workContainer h2 {
  font-size: 2.6rem;
  font-weight: 900;
  line-height: 1.5;
  text-align: center;
}
@media (min-width: 769px) {
  .p-work .workContainer h2 {
    font-size: 4rem;
    line-height: 0.7;
  }
}
.p-work .workContainer h2 span {
  letter-spacing: 0.02em;
}
@media (min-width: 769px) {
  .p-work .workContainer h2 span {
    letter-spacing: 0.01em;
  }
}
.p-work .workContainer .workContents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.1rem;
  padding-bottom: 6rem;
  gap: 2rem;
}
@media (min-width: 769px) {
  .p-work .workContainer .workContents {
    flex-direction: row;
    padding-top: 8.8rem;
    padding-bottom: 6.8rem;
    justify-content: center;
  }
}
@media (min-width: 769px) {
  .p-work .workContainer .workFooter {
    display: flex;
    justify-content: flex-start;
    margin-left: 3.4rem;
  }
}
.p-work .workContainer .workFooter img {
  width: 12.9rem;
  height: 2.3rem;
  margin: 0 auto 2.5rem;
}
@media (min-width: 769px) {
  .p-work .workContainer .workFooter img {
    width: 21.1rem;
    height: 3.7rem;
    margin: unset;
    margin-right: 4.5rem;
    margin-top: 0.7rem;
  }
}
.p-work .workContainer .workFooter p {
  width: 29.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
  margin: 0 auto;
}
@media (min-width: 769px) {
  .p-work .workContainer .workFooter p {
    width: auto;
    font-size: 1.6rem;
    line-height: 1.4375;
    margin: unset;
    padding-right: 3rem;
  }
}
.p-work .workContainer .workFooter p span {
  letter-spacing: 0.01em;
}

.p-reason {
  background: #d0e7ff;
}
.p-reason .reasonContainer {
  padding-bottom: 12.6rem;
}
@media (min-width: 769px) {
  .p-reason .reasonContainer {
    padding-bottom: 10rem;
    max-width: 100rem;
  }
}
.p-reason .reasonContainer h2 {
  font-size: 2.6rem;
  font-weight: 900;
  line-height: 1.5;
  text-align: center;
  padding-top: 2.6rem;
}
@media (min-width: 769px) {
  .p-reason .reasonContainer h2 {
    font-size: 4rem;
    line-height: 1;
    padding-top: 9.7rem;
  }
}
.p-reason .reasonContainer .reasonContens {
  width: 32rem;
  margin: 0 auto;
}
@media (min-width: 769px) {
  .p-reason .reasonContainer .reasonContens {
    width: 100%;
  }
}

.p-contact {
  background-image: url(../../../images/start_bg_sp.jpg);
  background-size: cover;
}
@media (min-width: 769px) {
  .p-contact {
    background-image: url(../../../images/start_bg_s.jpg);
  }
}
.p-contact .contactContainer {
  padding-top: 5.7rem;
  padding-bottom: 6.5rem;
}
@media (min-width: 769px) {
  .p-contact .contactContainer {
    padding-top: 7.7rem;
    padding-bottom: 9.6rem;
  }
}
.p-contact .contactContainer p {
  color: #fff;
  font-size: 1.7rem;
  font-weight: 900;
  line-height: 1.7647058824;
  letter-spacing: 0.001em;
  text-align: center;
}
@media (min-width: 769px) {
  .p-contact .contactContainer p {
    font-size: 1.9rem;
    line-height: 1.5263157895;
  }
}
.p-contact .contactContainer a {
  display: block;
  width: 30rem;
  height: 5.6rem;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1;
  color: #454545;
  background: #bdfa3e;
  border-radius: 0.5rem;
  padding: 1.9rem 0;
  margin: 4.6rem auto 0;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.16);
}
@media (min-width: 769px) {
  .p-contact .contactContainer a {
    font-size: 1.6rem;
    font-weight: 900;
    margin-top: 3.7rem;
  }
}
.p-contact.communication .contactContainer {
  padding-top: 5.6rem;
  padding-bottom: 6.4rem;
}
@media (min-width: 769px) {
  .p-contact.communication .contactContainer {
    padding-top: 7.7rem;
    padding-bottom: 9.6rem;
  }
}
.p-contact.communication .contactContainer a {
  transition: transform 0.2s ease;
  margin: 1.7rem auto 0;
}
@media (min-width: 769px) {
  .p-contact.communication .contactContainer a {
    margin-top: 3.7rem;
  }
}
.p-contact.communication .contactContainer a:hover {
  transform: scale(1.05);
}

.contactBtn {
  position: relative;
  overflow: hidden;
  transition: transform 0.2s ease;
}
.contactBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
  transform: skewX(-25deg);
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
.contactBtn:hover {
  opacity: 1;
  transform: scale(1.05);
}
.contactBtn:hover::before {
  animation: shine 0.8s ease;
}

.p-voice {
  background: #f2f2f2;
  margin-bottom: 1rem;
}
.p-voice .voiceContainer {
  display: block;
  width: 89.8%;
  margin: 0 auto;
  padding-top: 1.2rem;
  padding-bottom: 2.8rem;
}
@media (min-width: 769px) {
  .p-voice .voiceContainer {
    padding-top: 10.3rem;
    padding-bottom: 9.2rem;
    width: 100%;
  }
}
.p-voice .voiceContainer h2 {
  position: relative;
  font-size: 2.6rem;
  font-weight: 900;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 2.7rem;
}
@media (min-width: 769px) {
  .p-voice .voiceContainer h2 {
    font-size: 4rem;
    line-height: 1;
    margin-bottom: 4.2rem;
  }
}
.p-voice .voiceContainer h2 span {
  width: 100%;
  position: absolute;
  top: 1.6rem;
  left: 50%;
  transform: translateX(-50%);
  color: #1989ff;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.5;
}
@media (min-width: 769px) {
  .p-voice .voiceContainer h2 span {
    font-size: 2.8rem;
    line-height: 1;
    top: -0.6rem;
  }
}
.p-voice .voiceContainer > p {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.5;
}
@media (min-width: 769px) {
  .p-voice .voiceContainer > p {
    font-size: 2.6rem;
    line-height: 1.0769230769;
    margin-left: 18.3%;
  }
}
.p-voice .voiceContainer .voiceContents {
  padding-top: 3.3rem;
  padding-bottom: 0.6rem;
}
@media (min-width: 769px) {
  .p-voice .voiceContainer .voiceContents {
    padding-top: 4.2rem;
  }
}
.p-voice .voiceContainer .voiceContents .voiceCard {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3.5rem;
  visibility: hidden;
}
@media (min-width: 769px) {
  .p-voice .voiceContainer .voiceContents .voiceCard {
    width: 86.6%;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 4rem;
  }
}
.p-voice .voiceContainer .voiceContents .voiceCard img {
  width: 11.9rem;
  height: 11.9rem;
  margin-top: 3.4rem;
  background-size: cover;
}
@media (min-width: 769px) {
  .p-voice .voiceContainer .voiceContents .voiceCard img {
    width: 13.2rem;
    height: 13.2rem;
    margin-top: 8.5rem;
    margin-bottom: 8.2rem;
  }
}
.p-voice .voiceContainer .voiceContents .voiceCard .voiceTexts {
  margin-top: 3.8rem;
  padding-bottom: 5.7rem;
}
@media (min-width: 769px) {
  .p-voice .voiceContainer .voiceContents .voiceCard .voiceTexts {
    width: 66.8rem;
    margin-top: unset;
    margin-left: 5rem;
    margin-right: 11.6rem;
    padding-bottom: unset;
  }
}
.p-voice .voiceContainer .voiceContents .voiceCard .voiceTexts h3 {
  position: relative;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.4705882353;
  text-align: center;
  margin-bottom: 2.5rem;
}
@media (min-width: 769px) {
  .p-voice .voiceContainer .voiceContents .voiceCard .voiceTexts h3 {
    font-size: 2.3rem;
    line-height: 1.2173913043;
    text-align-last: left;
    margin-bottom: 1.4rem;
  }
}
.p-voice .voiceContainer .voiceContents .voiceCard .voiceTexts h3::before {
  position: absolute;
  top: -58%;
  left: 7.2%;
  content: "\f10d";
  font: var(--fa-font-solid);
  color: #afd2fe;
  font-size: 2rem;
}
@media (min-width: 769px) {
  .p-voice .voiceContainer .voiceContents .voiceCard .voiceTexts h3::before {
    top: -3.2rem;
    left: -4%;
    font-size: 3rem;
  }
}
.p-voice .voiceContainer .voiceContents .voiceCard .voiceTexts > p {
  position: relative;
  width: 84.8%;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.6666666667;
  margin: 0 auto;
}
@media (min-width: 769px) {
  .p-voice .voiceContainer .voiceContents .voiceCard .voiceTexts > p {
    font-size: 1.6rem;
    line-height: 1.4375;
    width: 100%;
  }
}
.p-voice .voiceContainer .voiceContents .voiceCard .voiceTexts > p::after {
  position: absolute;
  content: "\f10e";
  font: var(--fa-font-solid);
  color: #afd2fe;
  font-size: 2rem;
  bottom: -23%;
  right: 0;
}
@media (min-width: 769px) {
  .p-voice .voiceContainer .voiceContents .voiceCard .voiceTexts > p::after {
    font-size: 3rem;
    bottom: -3rem;
    right: -2.4%;
  }
}
.p-voice .voiceContainer .voiceContents .voiceCard .voiceTexts.woman {
  margin-top: 4.1rem;
  padding-bottom: 5.2rem;
}
@media (min-width: 769px) {
  .p-voice .voiceContainer .voiceContents .voiceCard .voiceTexts.woman {
    margin-top: unset;
    margin-left: 12.9rem;
    margin-right: 5rem;
    padding-bottom: unset;
  }
}
.p-voice .voiceContainer .voiceContents .voiceCard .voiceTexts.woman h3 {
  margin-bottom: 2.7rem;
}
@media (min-width: 769px) {
  .p-voice .voiceContainer .voiceContents .voiceCard .voiceTexts.woman h3 {
    margin-top: -0.4rem;
    margin-bottom: 1.2rem;
  }
}
.p-voice .voiceContainer .voiceContents .voiceCard .voiceTexts.woman h3::before {
  top: -65%;
  left: 7.2%;
}
@media (min-width: 769px) {
  .p-voice .voiceContainer .voiceContents .voiceCard .voiceTexts.woman h3::before {
    top: -3rem;
    left: -4%;
  }
}
.p-voice .voiceContainer .voiceContents .voiceCard .voiceTexts.woman > p::after {
  bottom: -25%;
  right: 0;
}
@media (min-width: 769px) {
  .p-voice .voiceContainer .voiceContents .voiceCard .voiceTexts.woman > p::after {
    bottom: -3.8rem;
    right: -2rem;
  }
}
.p-voice .voiceContainer .voiceContents .voiceCard.reverse {
  margin-bottom: unset;
}
@media (min-width: 769px) {
  .p-voice .voiceContainer .voiceContents .voiceCard.reverse {
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-left: auto;
  }
}
@media (min-width: 769px) {
  .p-voice .voiceContainer .voiceContents .voiceCard.reverse img {
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;
  }
}
@media (min-width: 769px) {
  .p-voice .voiceContainer .voiceContents .voiceCard.reverse .woman {
    margin-top: unset;
    margin-left: 12.4rem;
    margin-right: 4.3rem;
  }
}

.p-step {
  margin-top: 1rem;
}
.p-step .stepContainer {
  padding-top: 2.1rem;
  padding-bottom: 4.1rem;
}
@media (min-width: 769px) {
  .p-step .stepContainer {
    padding-top: 9.3rem;
    padding-bottom: 10rem;
  }
}
.p-step .stepContainer h2 {
  font-size: 2.6rem;
  font-weight: 900;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 2.8rem;
}
@media (min-width: 769px) {
  .p-step .stepContainer h2 {
    font-size: 4rem;
    line-height: 0.7;
    margin-bottom: 5.5rem;
  }
}
.p-step .stepContainer > p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.6666666667;
}
@media (min-width: 769px) {
  .p-step .stepContainer > p {
    font-size: 1.8rem;
    line-height: 1.5;
    text-align: center;
  }
}
.p-step .stepContainer .stepList {
  margin-top: 3.1rem;
  margin-bottom: 2.4rem;
}
@media (min-width: 769px) {
  .p-step .stepContainer .stepList {
    width: 100%;
    max-width: 76.3rem;
    margin: 7.8rem auto 6rem;
  }
}
.p-step .stepContainer .stepList li {
  position: relative;
  display: flex;
  height: 100%;
  max-height: 20rem;
  align-items: center;
  margin-bottom: 5.7rem;
  border: 1px solid #1989ff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4666666667;
  background: linear-gradient(102deg, #1989ff 32.6%, transparent 32.6%);
  visibility: hidden;
}
@media (min-width: 769px) {
  .p-step .stepContainer .stepList li {
    font-size: 1.6rem;
    line-height: 1.4375;
    background: linear-gradient(113.4deg, #1989ff 24.2%, transparent 24.2%);
    margin-bottom: 6rem;
  }
}
.p-step .stepContainer .stepList li .stepNum {
  display: block;
  width: 10rem;
  max-height: 50rem;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.5;
  color: #fff;
  text-align: center;
}
@media (min-width: 769px) {
  .p-step .stepContainer .stepList li .stepNum {
    width: 19.2rem;
    font-size: 2rem;
    line-height: 1;
    text-align-last: left;
    padding-left: 5rem;
  }
}
.p-step .stepContainer .stepList li > p {
  max-width: 22rem;
  padding: 1.9rem 1rem 1.9rem 2.5rem;
}
@media (min-width: 769px) {
  .p-step .stepContainer .stepList li > p {
    max-width: 54.3rem;
    padding: 2rem 3rem 2.5rem 5.9rem;
  }
}
.p-step .stepContainer .stepList li:nth-child(2) {
  margin-bottom: 6.2rem;
}
@media (min-width: 769px) {
  .p-step .stepContainer .stepList li:nth-child(2) {
    margin-bottom: 6.1rem;
  }
}
.p-step .stepContainer .stepList li::after {
  position: absolute;
  display: block;
  height: 2.4rem;
  content: "\f063";
  font: var(--fa-font-solid);
  font-size: 3.6rem;
  font-weight: 900;
  color: #1989ff;
  bottom: -4.6rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 769px) {
  .p-step .stepContainer .stepList li::after {
    bottom: -4.8rem;
  }
}
.p-step .stepContainer .stepList li:last-of-type {
  margin-bottom: unset;
  background: linear-gradient(97deg, #1989ff 32.6%, transparent 32.6%);
}
@media (min-width: 769px) {
  .p-step .stepContainer .stepList li:last-of-type {
    background: linear-gradient(113.4deg, #1989ff 24.2%, transparent 24.2%);
  }
}
.p-step .stepContainer .stepList li:last-of-type::after {
  content: unset;
}
.p-step .stepContainer .stepList li:last-of-type > p {
  padding-bottom: 1.7rem;
}
@media (min-width: 769px) {
  .p-step .stepContainer .stepList li:last-of-type > p {
    padding-bottom: 2.4rem;
  }
}
.p-step .stepContainer .suportContents h3 {
  font-size: 1.7rem;
  font-weight: 900;
  line-height: 1.4705882353;
  text-align: center;
  margin-bottom: 3.2rem;
}
@media (min-width: 769px) {
  .p-step .stepContainer .suportContents h3 {
    font-size: 2.3rem;
    line-height: 1.5217391304;
    margin-bottom: 4.8rem;
  }
}
@media (min-width: 769px) {
  .p-step .stepContainer .suportContents .suportList {
    max-width: 107.5rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
}
.p-step .stepContainer .suportContents .suportList > li {
  display: block;
  background: #d0e7ff;
  border-radius: 1rem;
  margin-bottom: 2rem;
  padding: 3.4rem 2.4rem 3.8rem;
}
@media (min-width: 769px) {
  .p-step .stepContainer .suportContents .suportList > li {
    width: 100%;
    max-width: 34.5rem;
    padding: 4rem 3.4rem 5.8rem 3.2rem;
    margin-bottom: unset;
  }
}
.p-step .stepContainer .suportContents .suportList > li.row2 {
  padding-top: 3rem;
  margin-bottom: 1.9rem;
}
@media (min-width: 769px) {
  .p-step .stepContainer .suportContents .suportList > li.row2 {
    padding: 3.6rem 3.4rem 4rem 3.2rem;
    margin-bottom: unset;
  }
}
.p-step .stepContainer .suportContents .suportList > li:last-of-type {
  margin-bottom: unset;
}
.p-step .stepContainer .suportContents .suportList > li h4 {
  font-size: 1.7rem;
  line-height: 1.4705882353;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2.3rem;
}
@media (min-width: 769px) {
  .p-step .stepContainer .suportContents .suportList > li h4 {
    font-size: 1.8rem;
    line-height: 1;
    margin-bottom: 2.6rem;
  }
}
.p-step .stepContainer .suportContents .suportList > li h4::before {
  color: #1989ff;
  content: "\f058";
  font: var(--fa-font-solid);
  font-weight: 400;
  font-size: 1.6rem;
  margin-right: 0.4rem;
}
.p-step .stepContainer .suportContents .suportList > li h4.row2 {
  text-indent: -1.4rem;
  margin-left: 2.1rem;
  margin-bottom: 2.5rem;
}
@media (min-width: 769px) {
  .p-step .stepContainer .suportContents .suportList > li h4.row2 {
    text-indent: -2rem;
    line-height: 1.5;
    margin-left: 2.2rem;
    margin-bottom: 2.4rem;
  }
}
.p-step .stepContainer .suportContents .suportList > li > ol {
  margin-left: 1rem;
}
.p-step .stepContainer .suportContents .suportList > li > ol li {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4666666667;
  list-style: "・";
  list-style-position: inside;
  margin-bottom: 1.1rem;
}
@media (min-width: 769px) {
  .p-step .stepContainer .suportContents .suportList > li > ol li {
    font-size: 1.6rem;
    line-height: 1.4375;
    margin-bottom: 1rem;
  }
}
.p-step .stepContainer .suportContents .suportList > li > ol li:last-of-type {
  margin-bottom: unset;
}

.p-freetry {
  background: #f2f2f2;
  padding-top: 6.1rem;
  padding-bottom: 8.5rem;
}
@media (min-width: 769px) {
  .p-freetry {
    padding-top: 10rem;
    padding-bottom: 9.8rem;
  }
}
.p-freetry .freetryContainer {
  width: 32rem;
}
@media (min-width: 769px) {
  .p-freetry .freetryContainer {
    width: 90%;
    max-width: 100rem;
  }
}
.p-freetry .freetryContainer .freetryCard {
  margin-bottom: 3.5rem;
  background: #fff;
}
@media (min-width: 769px) {
  .p-freetry .freetryContainer .freetryCard {
    margin-bottom: 10.2rem;
  }
}
.p-freetry .freetryContainer .freetryCard > .accordion-title {
  position: relative;
  display: block;
  width: 100%;
  height: 6rem;
  background: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  text-align: left;
  border: 2px solid #000;
  padding: 1.8rem 0 2.5rem 1.5rem;
}
@media (min-width: 769px) {
  .p-freetry .freetryContainer .freetryCard > .accordion-title {
    height: 8.6rem;
    font-size: 2.3rem;
    line-height: 1.2173913043;
    padding: 2.4rem 0 2.2rem 4.8rem;
  }
}
.p-freetry .freetryContainer .freetryCard > .accordion-title.open::after {
  content: "ー";
}
.p-freetry .freetryContainer .freetryCard > .accordion-title::after {
  display: block;
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
  right: 2.2rem;
  content: "＋";
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
}
@media (min-width: 769px) {
  .p-freetry .freetryContainer .freetryCard > .accordion-title::after {
    top: 48%;
    right: 2.1rem;
    font-size: 1.8rem;
    line-height: 1.5;
  }
}
.p-freetry .freetryContainer .freetryCard .freetryContents {
  padding: 2.7rem 1rem 3rem;
}
@media (min-width: 769px) {
  .p-freetry .freetryContainer .freetryCard .freetryContents {
    padding: 4rem 6.7rem 3.6rem;
  }
}
.p-freetry .freetryContainer .freetryCard .freetryContents h3 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 2.4rem;
}
@media (min-width: 769px) {
  .p-freetry .freetryContainer .freetryCard .freetryContents h3 {
    font-size: 2.3rem;
    line-height: 1.2173913043;
  }
}
.p-freetry .freetryContainer .freetryCard .freetryContents h3.talk {
  margin-bottom: 2.7rem;
}
.p-freetry .freetryContainer .freetryCard .freetryContents h3.task, .p-freetry .freetryContainer .freetryCard .freetryContents h3.setting {
  margin-bottom: 2.5rem;
}
.p-freetry .freetryContainer .freetryCard .freetryContents .freetryText {
  margin-bottom: 2.7rem;
}
@media (min-width: 769px) {
  .p-freetry .freetryContainer .freetryCard .freetryContents .freetryText {
    margin-bottom: 2.9rem;
  }
}
.p-freetry .freetryContainer .freetryCard .freetryContents .freetryText.task {
  margin-bottom: 3rem;
}
.p-freetry .freetryContainer .freetryCard .freetryContents .freetryText.task > dl {
  padding-bottom: 2.9rem;
}
@media (min-width: 769px) {
  .p-freetry .freetryContainer .freetryCard .freetryContents .freetryText.task > dl {
    padding-bottom: 3.6rem;
  }
}
.p-freetry .freetryContainer .freetryCard .freetryContents .freetryText.talk {
  margin-bottom: 1.9rem;
}
@media (min-width: 769px) {
  .p-freetry .freetryContainer .freetryCard .freetryContents .freetryText.talk {
    margin-bottom: 2rem;
  }
}
.p-freetry .freetryContainer .freetryCard .freetryContents .freetryText.ol {
  margin-bottom: 2rem;
}
.p-freetry .freetryContainer .freetryCard .freetryContents .freetryText.ol > dl {
  padding-bottom: 2.9rem;
}
@media (min-width: 769px) {
  .p-freetry .freetryContainer .freetryCard .freetryContents .freetryText.ol > dl {
    padding-bottom: 3.6rem;
  }
}
.p-freetry .freetryContainer .freetryCard .freetryContents .freetryText.groupTalk {
  margin-bottom: 3.1rem;
}
.p-freetry .freetryContainer .freetryCard .freetryContents .freetryText.groupTalk > dl {
  padding-bottom: 3rem;
}
@media (min-width: 769px) {
  .p-freetry .freetryContainer .freetryCard .freetryContents .freetryText.groupTalk > dl {
    padding-bottom: 3.6rem;
  }
}
.p-freetry .freetryContainer .freetryCard .freetryContents .freetryText.setting > dl {
  margin-bottom: 2rem;
  padding-left: 1.8rem;
  padding-bottom: 3rem;
}
@media (min-width: 769px) {
  .p-freetry .freetryContainer .freetryCard .freetryContents .freetryText.setting > dl {
    padding-left: 5.7rem;
    padding-bottom: 3.6rem;
  }
}
.p-freetry .freetryContainer .freetryCard .freetryContents .freetryText.setting > dl:nth-child(2) {
  padding-bottom: 2.8rem;
}
@media (min-width: 769px) {
  .p-freetry .freetryContainer .freetryCard .freetryContents .freetryText.setting > dl:nth-child(2) {
    padding-bottom: 3.6rem;
  }
}
.p-freetry .freetryContainer .freetryCard .freetryContents .freetryText.setting > dl:nth-child(3) {
  padding-bottom: 2.9rem;
}
@media (min-width: 769px) {
  .p-freetry .freetryContainer .freetryCard .freetryContents .freetryText.setting > dl:nth-child(3) {
    padding-bottom: 3.6rem;
  }
}
.p-freetry .freetryContainer .freetryCard .freetryContents .freetryText.setting > dl:nth-child(3) > dd > ol > li {
  list-style: "◆";
  list-style-position: inside;
}
.p-freetry .freetryContainer .freetryCard .freetryContents .freetryText.setting > dl:nth-child(3) > dd > ol > li::marker {
  letter-spacing: -0.2em;
}
.p-freetry .freetryContainer .freetryCard .freetryContents .freetryText.setting > dl > dd {
  margin-top: 2.7rem;
}
.p-freetry .freetryContainer .freetryCard .freetryContents .freetryText dl {
  background: #d0e7ff;
  border-radius: 1rem;
  padding: 1.8rem 3.4rem 3.2rem 1.7rem;
}
@media (min-width: 769px) {
  .p-freetry .freetryContainer .freetryCard .freetryContents .freetryText dl {
    padding: 2.3rem 6rem 3.6rem 5.7rem;
  }
}
.p-freetry .freetryContainer .freetryCard .freetryContents .freetryText dl dt {
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.4375;
}
@media (min-width: 769px) {
  .p-freetry .freetryContainer .freetryCard .freetryContents .freetryText dl dt {
    font-size: 1.8rem;
    line-height: 1.5;
  }
}
.p-freetry .freetryContainer .freetryCard .freetryContents .freetryText dl dt::before {
  content: "Q.";
  margin-right: -0.4rem;
}
.p-freetry .freetryContainer .freetryCard .freetryContents .freetryText dl dt.open::after {
  content: "ー";
}
.p-freetry .freetryContainer .freetryCard .freetryContents .freetryText dl dt::after {
  display: block;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  right: -2.4rem;
  content: "＋";
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
}
@media (min-width: 769px) {
  .p-freetry .freetryContainer .freetryCard .freetryContents .freetryText dl dt::after {
    top: 48%;
    right: -3rem;
    font-size: 1.8rem;
    line-height: 1.5;
  }
}
.p-freetry .freetryContainer .freetryCard .freetryContents .freetryText dl dd {
  display: none;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
  margin-top: 2.6rem;
}
@media (min-width: 769px) {
  .p-freetry .freetryContainer .freetryCard .freetryContents .freetryText dl dd {
    font-size: 1.6rem;
    line-height: 1.4375;
    margin-top: 2.7rem;
  }
}
.p-freetry .freetryContainer .freetryCard .freetryContents .freetryText dl dd::before {
  content: "A.";
  margin-right: -0.4rem;
}
.p-freetry .freetryContainer .freetryCard .freetryContents .freetryText dl dd ol {
  padding-top: 1rem;
}
.p-freetry .freetryContainer .freetryCard .freetryContents .freetryText dl dd ol li {
  list-style: "・";
  list-style-position: inside;
  margin-bottom: 1rem;
}
.p-freetry .freetryContainer .freetryCard .freetryContents .freetryText dl dd ol li:last-of-type {
  margin-bottom: unset;
}
.p-freetry .freetryContainer .freetryCard .freetryContents .freetryText dl dd ol li.talk::marker {
  letter-spacing: -0.2em;
}
.p-freetry .freetryContainer .freetryCard .freetryContents.plan {
  padding: 2.6rem 2.8rem 2.3rem 1.3rem;
}
@media (min-width: 769px) {
  .p-freetry .freetryContainer .freetryCard .freetryContents.plan {
    padding: 6.9rem 5rem 8rem;
  }
}
.p-freetry .freetryContainer .freetryCard .freetryContents.plan > dl {
  display: flex;
}
@media (min-width: 769px) {
  .p-freetry .freetryContainer .freetryCard .freetryContents.plan > dl {
    gap: 14.4rem;
  }
}
.p-freetry .freetryContainer .freetryCard .freetryContents.plan > dl dt, .p-freetry .freetryContainer .freetryCard .freetryContents.plan > dl dd {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.4705882353;
}
@media (min-width: 769px) {
  .p-freetry .freetryContainer .freetryCard .freetryContents.plan > dl dt, .p-freetry .freetryContainer .freetryCard .freetryContents.plan > dl dd {
    font-size: 2.3rem;
    line-height: 1.2173913043;
  }
}
.p-freetry .freetryContainer .freetryCard .freetryContents.plan > dl dt span, .p-freetry .freetryContainer .freetryCard .freetryContents.plan > dl dd span {
  color: #1989ff;
  letter-spacing: 0;
  line-height: 1.5882352941;
}
.p-freetry .freetryContainer .freetryCard .freetryContents.plan > dl dt {
  display: block;
  width: 10rem;
  margin-bottom: 2.5rem;
}
.p-freetry .freetryContainer .freetryCard .freetryContents.plan > dl dd {
  flex: 1 1;
  letter-spacing: -0.1em;
}
@media (min-width: 769px) {
  .p-freetry .freetryContainer .freetryCard .freetryContents.plan > dl dd {
    font-size: 1.8rem;
    letter-spacing: 0;
  }
  .p-freetry .freetryContainer .freetryCard .freetryContents.plan > dl dd span {
    font-size: 2.3rem;
    line-height: 1.2173913043;
    color: #1989ff;
    letter-spacing: 0;
  }
}
@media (min-width: 769px) {
  .p-freetry .freetryContainer .freetryCard .freetryContents.plan > dl dd.free {
    padding-top: 0.3rem;
  }
}
.p-freetry .freetryContainer .freetryCard > .accordion-content {
  display: none;
}
.p-freetry .freetryContainer .freetryCard.plan {
  margin-bottom: unset;
}
.p-freetry .freetryContainer .accordion-content {
  display: none;
}

/* @use "object/utility/spacing"; */

/*# sourceMappingURL=style.css.map */
