@charset "UTF-8";
/* ブレークポイント */
/* A Modern CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
/* ul[class],
ol[class] {
  padding: 0;
} */
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 2.6666666667vw;
  color: #000;
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  html {
    font-size: 1vw;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 62.5%;
  }
}

body {
  font-family: "Noto Sans JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  color: #000;
}
body * {
  box-sizing: border-box;
}

ul, ol {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.container {
  display: block;
  width: 89.8%;
  margin: 0 auto;
}
@media (min-width: 769px) {
  .container {
    width: 94.8%;
    max-width: 108rem;
  }
}

.sp-br {
  display: block;
}
@media (min-width: 769px) {
  .sp-br {
    display: none;
  }
}

header {
  height: 6rem;
}
@media (min-width: 769px) {
  header {
    height: 7.6rem;
  }
}
header .haderContainer {
  display: block;
  width: 89.8%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
@media (min-width: 769px) {
  header .haderContainer {
    width: 100%;
  }
}
header .haderContainer img {
  width: 10.5rem;
  height: 1.8rem;
  margin-left: 0.7rem;
}
@media (min-width: 769px) {
  header .haderContainer img {
    width: 21.1rem;
    height: 3.7rem;
    margin-left: 2.6%;
  }
}
header .haderContainer .headerNav {
  display: none;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
}
@media (min-width: 769px) {
  header .haderContainer .headerNav {
    display: flex;
    align-items: center;
  }
  header .haderContainer .headerNav ul {
    display: flex;
    gap: 4.7rem;
  }
  header .haderContainer .headerNav ul li {
    padding: 2rem 0;
  }
}
header .haderContainer .headerNav .application {
  display: block;
  width: 26.4rem;
  height: 100%;
  background: #1989ff;
  color: #fff;
  text-align: center;
  padding: 2.6rem 8rem;
  margin-left: 5rem;
}
header .haderContainer .hambugerIcon-sp {
  position: relative;
  width: 3.5rem;
  height: 3.2rem;
  border: none;
}
@media (min-width: 769px) {
  header .haderContainer .hambugerIcon-sp {
    display: none;
  }
}
header .haderContainer .hambugerIcon-sp span {
  position: absolute;
  display: block;
  width: 100%;
  height: 0.6rem;
  background: #000;
  left: 0;
}
header .haderContainer .hambugerIcon-sp span:first-of-type {
  top: 0;
}
header .haderContainer .hambugerIcon-sp span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}
header .haderContainer .hambugerIcon-sp span:last-of-type {
  bottom: 0.1rem;
}
header .humbugerMenu {
  position: relative;
  background: #fff;
  z-index: 1;
  display: none;
}
header .humbugerMenu.open {
  display: block;
}
header .humbugerMenu .headerNav-sp {
  padding: 0.6rem 2.6rem;
}
header .humbugerMenu .headerNav-sp li {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  padding-top: 0.4rem;
  padding-bottom: 0.3rem;
}

/* @use "object/component/_bamburger"; */
/* @use "object/project/body-filter"; */
/* @use "object/utility/spacing"; */

/*# sourceMappingURL=style.css.map */
